<p id="notice"><%= notice %></p>

<div class="small_width">
  <h1><%= @condition.name.titleize %></h1>

  <p>
    <%= sanitize substitute_links(@condition.description), scrubber: PermitTableScrubber.new %>
  </p>

  <%= link_to 'Edit', edit_condition_path(@condition) %> |
  <%= link_to 'Back', conditions_path %>
</div>
