<%= link_to "Home", home_index_path %>

<p id="notice"><%= notice %></p>

<h1>Armor</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cost</th>
      <th>Armor Class (AC)</th>
      <th>Strength</th>
      <th>Stealth</th>
      <th>Weight</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td colspan="8"><strong><em>Light Armor</em></strong></td>
    </tr>
    <%= render partial: "armor_subcategory", locals: {armor: @armor.where(armor_type: 'light')} %>
    <tr>
      <td colspan="8"><strong><em>Medium Armor</em></strong></td>
    </tr>
    <%= render partial: "armor_subcategory", locals: {armor: @armor.where(armor_type: 'medium')} %>
    <tr>
      <td colspan="8"><strong><em>Heavy Armor</em></strong></td>
    </tr>
    <%= render partial: "armor_subcategory", locals: {armor: @armor.where(armor_type: 'heavy')} %>
  </tbody>
</table>

<br>

<%= link_to 'New Armor', new_armor_path %>
