<p id="notice"><%= notice %></p>

<div class="small_width">
  <h1><%= @armor.name.titleize %></h1>

  <p>
    <em><%= @armor.armor_type.capitalize %> armor</em>
    <br>
    <%= "#{format_value(@armor.value)}, #{@armor.weight} lbs." %>
  </p>

  <p>
    <strong>Armor Class:</strong>
    <%= render_armor_class(@armor) %>
  </p>

  <% if @armor.strength_requirement > 0 %>
    <p>
      <strong>Strength requirement:</strong>
      <%= @armor.strength_requirement %>
    </p>
  <% end %>

  <% if @armor.stealth_disadvantage %>
    <p>
      <strong>Stealth disadvantage:</strong>
      <%= @armor.stealth_disadvantage %>
    </p>
  <% end %>

  <p>
    <strong>Description:</strong>
    <%= sanitize substitute_links(@armor.description), scrubber: PermitTableScrubber.new %>
  </p>

  <%= link_to 'Edit', edit_armor_path(@armor) %> |
  <%= link_to 'Back', armor_index_path %>
</div>
