<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @monster.name %>
</p>

<p>
  <strong>Size:</strong>
  <%= @monster.size %>
</p>

<p>
  <strong>Monster type:</strong>
  <%= @monster.monster_type %>
</p>

<p>
  <strong>AC:</strong>
  <%= @monster.ac %>
</p>

<p>
  <strong>HP:</strong>
  <%= @monster.hp %>
</p>

<p>
  <strong>HP formula:</strong>
  <%= @monster.hp_formula %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @monster.speed %>
</p>

<p>
  <strong>Strength:</strong>
  <%= @monster.strength %>
</p>

<p>
  <strong>Dexterity:</strong>
  <%= @monster.dexterity %>
</p>

<p>
  <strong>Constitution:</strong>
  <%= @monster.constitution %>
</p>

<p>
  <strong>Intelligence:</strong>
  <%= @monster.intelligence %>
</p>

<p>
  <strong>Wisdom:</strong>
  <%= @monster.wisdom %>
</p>

<p>
  <strong>Charisma:</strong>
  <%= @monster.charisma %>
</p>

<p>
  <strong>Saving throws:</strong>
  <%= @monster.saving_throws %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @monster.skills %>
</p>

<p>
  <strong>Damage resistances:</strong>
  <%= @monster.damage_resistances %>
</p>

<p>
  <strong>Damage immunities:</strong>
  <%= @monster.damage_immunities %>
</p>

<p>
  <strong>Condition immunities:</strong>
  <%= @monster.condition_immunities %>
</p>

<p>
  <strong>Senses:</strong>
  <%= @monster.senses %>
</p>

<p>
  <strong>Languages:</strong>
  <%= @monster.languages %>
</p>

<p>
  <strong>Challenge:</strong>
  <%= @monster.challenge %>
</p>

<p>
  <strong>Traits:</strong>
  <%= @monster.traits %>
</p>

<p>
  <strong>Actions:</strong>
  <%= @monster.actions %>
</p>

<p>
  <strong>Legendary actions:</strong>
  <%= @monster.legendary_actions %>
</p>

<%= link_to 'Edit', edit_monster_path(@monster) %> |
<%= link_to 'Back', monsters_path %>
