<h1>Dungeons & Dragons</h1>

<ol>
  <li><%= link_to "Armor", armor_index_path %></li>
  <li><%= link_to "Conditions", conditions_path %></li>
  <li><%= link_to "Monsters", monsters_path %></li>
  <li><%= link_to "Spells", spells_path %></li>
  <li><%= link_to "Weapons", weapons_path %></li>
</ol>
