<%= link_to "Home", home_index_path %>

<p id="notice"><%= notice %></p>

<h1>Weapons</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cost</th>
      <th>Damage</th>
      <th>Weight</th>
      <th>Properties</th>
    </tr>
  </thead>

  <tbody>
    <tr><td colspan="8"><strong><em>Simple Melee Weapons</em></strong></td></tr>
    <%= render partial: "weapon_subcategory", locals: {weapons: @weapons.where(category: 'simple', weapon_type: 'melee').preload(:weapon_properties)} %>
    <tr><td colspan="8"><strong><em>Simple Ranged Weapons</em></strong></td></tr>
    <%= render partial: "weapon_subcategory", locals: {weapons: @weapons.where(category: 'simple', weapon_type: 'ranged').preload(:weapon_properties)} %>
    <tr><td colspan="8"><strong><em>Martial Melee Weapons</em></strong></td></tr>
    <%= render partial: "weapon_subcategory", locals: {weapons: @weapons.where(category: 'martial', weapon_type: 'melee').preload(:weapon_properties)} %>
    <tr><td colspan="8"><strong><em>Martial Ranged Weapons</em></strong></td></tr>
    <%= render partial: "weapon_subcategory", locals: {weapons: @weapons.where(category: 'martial', weapon_type: 'ranged').preload(:weapon_properties)} %>
  </tbody>
</table>

<br>

<%= link_to 'New Weapon', new_weapon_path %>
