<p id="notice"><%= notice %></p>

<h1>Weapons</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Weapon type</th>
      <th>Damage type</th>
      <th>Damage</th>
      <th>Two handed damage</th>
      <th>Category</th>
      <th>Value</th>
      <th>Weight</th>
      <th>Range</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weapons.each do |weapon| %>
      <tr>
        <td><%= weapon.name %></td>
        <td><%= weapon.weapon_type %></td>
        <td><%= weapon.damage_type %></td>
        <td><%= weapon.damage %></td>
        <td><%= weapon.two_handed_damage %></td>
        <td><%= weapon.category %></td>
        <td><%= weapon.value %></td>
        <td><%= weapon.weight %></td>
        <td><%= weapon.range %></td>
        <td><%= weapon.description %></td>
        <td><%= link_to 'Show', weapon %></td>
        <td><%= link_to 'Edit', edit_weapon_path(weapon) %></td>
        <td><%= link_to 'Destroy', weapon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weapon', new_weapon_path %>
