<p id="notice"><%= notice %></p>

<div class="small_width">
  <h1><%= @weapon.name.titleize %></h1>

  <p>
    <em><%= @weapon.category.capitalize %> <%= @weapon.weapon_type %> weapon</em>
  </p>

  <p>
    <strong>Damage:</strong>
    <%= render_damage(@weapon) %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= format_value(@weapon.value) %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= @weapon.weight %>
  </p>

  <% if @weapon.range %>
    <p>
      <strong>Range:</strong>
      <%= @weapon.range %>
    </p>
  <% end %>

  <% if @weapon.description %>
    <p>
      <strong>Description:</strong>
      <%= sanitize substitute_links(@weapon.description), scrubber: PermitTableScrubber.new %>
    </p>
  <% end %>

  <p>
    <strong>Properties:</strong>
    <%= @weapon.weapon_properties.map(&:name.downcase).map(&:downcase).join(', ') %>
  </p>

  <%= link_to 'Edit', edit_weapon_path(@weapon) %> |
  <%= link_to 'Back', weapons_path %>
</div>
