<%= link_to "Home", home_index_path %>

<p id="notice"><%= notice %></p>

<% @spells = Spell.order(:name) %>

<h1>Spells</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Level</th>
      <th>School</th>
      <th>Source</th>
    </tr>
  </thead>

  <tbody>
    <% @spells.each do |spell| %>
      <tr>
        <td><%= link_to spell.name.titleize, spell_path(spell) %></td>
        <td><%= ordinalize_level(spell.level) %></td>
        <td><%= spell.school.camelize %></td>
        <td><%= spell.source %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spell', new_spell_path %>
