<p id="notice"><%= notice %></p>

<!-- TODO: make small_width class -->
<div class="small_width">
  <h1>
    <%= @spell.name.titleize %>
  </h1>

  <p>
    <em><%= show_spell_level(@spell) %></em>
  </p>

  <p>
    <strong>Casting Time:</strong> <%= @spell.casting_time %><br>
    <strong>Range:</strong> <%= @spell.range %><br>
    <strong>Components:</strong>
    <%= components(@spell) %>
    <br>
    <strong>Duration:</strong> <%= @spell.duration %>
  </p>

  <div>
    <%= @spell.description.html_safe %>
  </div>

  <p>Available to <%= @spell.classes %></p>

  <p>Source: <%= @spell.source %></p>

  <%= link_to 'Edit', edit_spell_path(@spell) %> |
  <%= link_to 'Back', spells_path %>

</div>
